<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="monetag" content="2bdf6e511dc28e7c142dd6ef63a8bfb2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Integration</title>
</head>
<body>
    <script type="text/javascript">
        var adsterra_script = document.createElement('script');
        adsterra_script.src = "";
        adsterra_script.async = true;
        document.body.appendChild(adsterra_script);
    </script>

    <!-- Main Content -->
    {% block content %}{% endblock %}
</body>
</html>
